include mixins.pug
- var data = require('./data.json')
block variables

<!doctype html>
<html lang="#{data.lang}">
<head>
	<meta charset="utf-8">
	<title>
		if title
			| #{title} &laquo; #{data.projectName}
		else
			| #{data.projectName}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	include ../partials/head-includes.pug
	block head-includes
</head>
<body>

	<div class="wrap">
		block main
	</div>

	include ../partials/footer-includes.pug
	block footer-includes
</body>
</html>
